body {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}