body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
}

ul{
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  color: #E5E7EB;
  gap: 20px;
  font-size: 18px;
}

h2 {  
  color: #F9FAF8;
  font-size: 24px;
}