body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  background-color: #1F2937;
}

.hero-text {
  text-align: start;
  flex-basis: 400px;
}

.hero-pic > img {
  width: 500px;
  height: auto;
}

.hero-text > p {
  font-size: 18px;
  color: #E5E7EB;
  margin-top: 0;
  margin-bottom: 5px;
}

.hero-text > button {
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
}

.thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.thumbnails div img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border: 5px solid;
  border-color: #3882F6;
  border-radius: 30px;
}

ul{
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  color: #E5E7EB;
  gap: 20px;
  font-size: 18px;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin-bottom: 0;
}

h2 {  
  color: #F9FAF8;
  font-size: 24px;
}